@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700&display=swap');

$font-family: "Montserrat", Arial, sans-serif;

$background: #EDDDE0;
$text: #191C68;
$primary: #191C68;


html {
    font-family: $font-family;
    color: $text;
}

body {
    background-color: $background;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

//Animation Mixin
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}