#title {
    font-weight: 700;
    @include animation('fadein 1.5s');
}

.definition {
    
    padding: 0.5rem;
    

    .word {
        font-weight: 700;
    }
    .type {
        font-style: italic;
        line-height: 2;
    }
    .source {
        float: right;
        font-weight: 300;
        line-height: 2.5;
    }
}

.storyText {
}

canvas {
    position: fixed;
    width: 1px;
    height: 1px;
}

.fake-browser-ui {
    padding: 20px 0 0;
    border-radius: 3px;
    border-bottom: 2px solid #ccc;
    background: rgb(221, 214, 220);
    display: inline-block;
    position: relative;
    line-height: 0;
    @include animation('fadein 1.5s');

    .frame {
    display: block;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 1px;
    }

    .span {
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background-color: #eee;
    border: 1px solid #dadada;
    float: left;
    margin: 0 0 0 4px;
    }
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    
  }

#cameraview {
    @include animation('fadein 4s');
}


#genderAnalysis {
    display: flex;
    flex-direction: row;
    @include animation('fadein 3s');
}

#genderField {
    font-weight: 700;
}

#probField {
    font-weight: 700;
}

@include keyframes(fadein) {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
.definition{
   width: 90vw;
}

#title {
    font-size: 1.3rem;
}

#genderAnalysis {
    font-size: 0.8rem;
}

.storyText {
    width: 90vw;
    font-size: 0.8rem;
    margin-top: 1.2rem;
}

}

@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
.definition{
        width: 40vw;
     }
}

#genderAnalysis {
    font-size: 1.5rem;
}

#title {
    font-size: 3rem;
}

.storyText  {
    width: 60vw;
    font-size: 1.5rem;
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }