#title {
    font-size: 3rem;
    font-weight: 700;
    @include animation('fadein 1.5s');
}

.definition {
    width: 40vw;
    padding: 0.5rem;
    @include animation('fadein 2s');

    .word {
        font-weight: 700;
    }
    .type {
        font-style: italic;
        line-height: 2;
    }
    .source {
        float: right;
        font-weight: 300;
        line-height: 2.5;
    }
}

canvas {
    position: absolute;
  }

video {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#genderAnalysis {
    display: flex;
    flex-direction: row;
}

#genderField {
    font-weight: 700;
}

#probField {
    font-weight: 700;
}

@include keyframes(fadein) {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }