body {
    width: 100vw;
    height: 100vh;
    display: flex;
    // justify-content: center;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }

header {
  display: flex;
	align-items: center;
	justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  }

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
}

#sex {
  // display: block;
    height: 500px;
  }